@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    max-width: 1200px;
    font-family: "Lato", "Calibri";
    color: #3C153B;
    margin: 0 auto;
}

#hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

body{
    background-color: #E7E7E7;
}

main{
    padding: 20px;
}

h1, h2, h3, h4{
    font-family: "Playfair Display";
    text-align: center;
    padding: 5px;
}

footer p{
    font-family: "Playfair Display";
}

h1{
    font-size: 1.2em;
}



.nav-bar a{
    font-size: 1.2em;
    color: #E7E7E7;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
    font-family: "Playfair Display";
    /* border-radius: 10px; */
}

.nav-bar a:hover{
    background-color: #E7E7E7;
    color: #3C153B;
}

footer{
    background-color: #3C153B;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25%;
    /* border-radius: 10px; */
}

.nav-bar{
    display: flex;
    background-color: #3C153B;
    justify-content: space-around;
    align-items: center;
    height: 25%;
    /* border-radius: 10px; */
}

section{
    background-color: #732C02;
    width: auto;
}

footer p{
    color: #E7E7E7;
    margin: 5px;
}

footer a{
    text-decoration: none;
    color: #E7E7E7;
    padding: 5px;
    font-family: "Playfair Display";
}

footer a:hover{
    background-color: #E7E7E7;
    color: #3C153B;
}

.creative-works{
    display: flex;
}

div img{
    width: 100%;
}

div p{
    margin: 5px;
    margin-left: 0px;
}

div{
    margin: 1%;
}

div a{
    text-align: center;
    display: block;
}

#hero-text{
    position: absolute;
    top: 49%;
    left: 41%;
    bottom: 0.25%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
}

iframe{
    width: 75%;
    height: 560px;
    display: flex;
    justify-content: center;
}
.hero-box{
    background-color: #732C02;
}

#mirror{
    width: 77%;
    margin-left: 5%;
}

#city{
    width: 96%;
}

#city-skyline{
    width: 50%;
}

.script{
    text-align: center;
}

#script{
    font-size: 1.4em;
}

#script-headline{
    font-size: 2em;
}

.terribly-lovely-day-script{
    margin-left: 5%;
}

.shattered-glass{
    margin-left: 6%;
}

.terribly-lovely-day{
    margin-left: 2.5%;
}

#creative-works{
    font-size: 1.5em;
}

#julia{
    max-width: 200px;
    padding: 10px;
}

#about-me-txt {
    width: 50%;
    padding: 10px;
}

.about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
